*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
a{
    text-decoration: none;
}
.total{
    background-color: #111111;
}
.container{
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.header_top{
    width: 100%;
    height: 30px;
    background-color:#f05023;
    text-align: center;
    align-items: center;
}
.header_top p{
    line-height: 30px;
    color:#fafafa;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.home{
    background-color: #020202;
}

.header-main{
    display: flex;
    height: 120px;
}
.header-login{
    line-height: 120px;
    float: right;
}
.header1{
    width: 45%;
}
.header2{
    width: 10%;
}
.header2 .header-logo{
    line-height: 120px;
    margin-top: 20px;
    height: 60px;
}
.header-logo img{
    width: 100%;
}
.login-right{

    float: right;
}
.header1 span{
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: #fafafa;
    text-transform: uppercase;
    border: solid 1px;
    border-radius:10px;
    font-weight: 500;
}
.header1 i{
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px ;
    font-size: 15px;
    font-weight: 600;
    color: #fafafa;
    border: solid 1px;
    border-radius:10px;
    
}
.navigation{
    background-color:#111111;
    display: flex;
    height: 100px;
    justify-content: center;
    z-index: 1;
}
.nav-all{
    width: 120px;
    height: 100px;
}
.nav-hoodie{
    width: 120px;
    height: 100px;
}
.nav-sweater
{
    width: 120px;
    height: 100px;
}
.nav-shirt
{
    width: 120px;
    height: 100px;
}
.nav-jacket
{
    width: 120px;
    height: 100px;
}
.nav-botton
{
    width: 120px;
    height: 100px;
}
.nav-acees
{
    width: 120px;
    height: 100px;
}
.nav-shoppe
{
    width: 220px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #f05023;
}
.nav-shoppe a span{
    color: blanchedalmond;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
img{
    width: 100%;
    height: 100%;
}
.slider{
    width: 100%;

}

.main{
    margin-top: 30px;
}
.main-product{
    flex-wrap: wrap;
    display: flex;
}
.main-slogan{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    text-transform: uppercase;
}
.product{
    width: 300px;
}
.product img{
    width: 100%;
    height: 350px;
}
.product p{
    color: #f05023;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
}
.product  p.sale{
    color: #111111;
    font-size: 16px;
    font-weight: 600;
}
.banner{
    padding-top: 50px;
    display:flex;
    width: 100%;
}
.banner .banner1{
    position: relative;
  height: 600px;
    width: 50%;
}
.banner .banner2{
    position: relative;
    width: 50%;
    height: 600px;
}
.h{
    background-color: teal;
    height: 200px;
}
.tichdiem{
    padding-top: 50px;
}
.base{
    padding-top: 50px;
    display: flex;
}
.base img{
    width: 12.5%;
    height: 12.5%;
}
.footer{
    padding-top: 50px;
    background-color: #111111;

}
.conte{
    display: flex;
}
.box{
    width: 30%;
    margin: 0;
    height: 300px;
}
.box span{
    color: #f05023;
}
.box p{
    padding: 10px;
    color: #fafafa;
    font-size: 14px;
    font-weight: 500;
}
.right-top span{ 
    display: block;
    padding-bottom: 10px;
}
.right-top i{
    width: 50px;
    height: 50px;
    font-size: 35px;
    font-weight: 500;
}
.right-botton img{
    padding-top: 20px;
}
.copyright{
    background-color: rgb(255, 255, 255,0.9);
    height: 40px;
    float: right;
}
.copyright p{
    padding: 0 50px;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #111111;
    font-weight: 600;
}